<section id="about" class="container-page py-20">
  <h2 class="text-3xl font-semibold text-center text-gray-900">O nama</h2>
  <span class="badge-gold mx-auto mt-3 block"></span>
<div class="mt-8 aspect-[4/3] w-full max-w-3xl mx-auto">
  <label class="grid gap-1"> 
    <span class="text-m text-gray-700">Auto moto klub Ruma nastao je 1946 godine kao automobilističko biciklističko društvo "Heroj Pinki". Još tada osnivači su prepoznali potrebe gradjana za uslugama vezanim za vozače i vozila.
Početak rada bilo je osnivanje auto škole, male automehaničarske radionice, što se godinama nadigradjivalo shodno potrebama tržišta i vozača.
Danas prateći trendove i savremeno tržište razvijamo dalje delatnosti koje su potrebne sugrađanima - vlasnicima automobila, motora, traktora.
Više decenija postojanja i opstajanja na tržištu dokaz su kvaliteta, rada i istrajnosti.
    </span>
  </label>
  <label class="grid gap-3 mt-8">  
    <span class="text-m text-gray-700">Naš moto je "Sve na jednom mestu" i trudimo se da to i ostvarimo.
    </span>
  </label>

  <label class="grid gap-1 mt-8"> 
    <span class="text-m text-gray-700">Posetite nas ili nas kontaktirajte putem telefona ili email-a. Rado ćemo odgovoriti na sva vaša pitanja i pomoći vam u vezi sa našim uslugama.
    </span>
  </label>


  <iframe class="mx-auto mt-8"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2821.162100442052!2d19.816121199999998!3d45.00132999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475babf9fa9480dd%3A0x89f8f4777ae71d7d!2zVEVITklDS0kgUFJFR0xFRCBJIFJFR0lTVFJBQ0lKQS3QkNGD0YLQviDQvNC-0YLQviDQutC70YPQsSDQoNGD0LzQsA!5e0!3m2!1ssr!2srs!4v1758815988485!5m2!1ssr!2srs" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  
</div>
</section>