<section id="about" class="container-page py-20">
  <h2 class="text-3xl font-semibold text-center text-gray-900">O nama</h2>
  <span class="badge-gold mx-auto mt-3 block"></span>
<div class="mt-8 aspect-[4/3] w-full max-w-3xl mx-auto">
  <label class="grid gap-1"> 
    <span class="text-m text-gray-700">Auto moto klub Ruma nastao je 1946 godine kao automobilističko biciklističko društvo "Heroj Pinki". Još tada osnivači su prepoznali potrebe gradjana za uslugama vezanim za vozače i vozila.
Početak rada bilo je osnivanje auto škole, male automehaničarske radionice, što se godinama nadigradjivalo shodno potrebama tržišta i vozača.
Danas prateći trendove i savremeno tržište razvijamo dalje delatnosti koje su potrebne sugrađanima - vlasnicima automobila, motora, traktora.
Više decenija postojanja i opstajanja na tržištu dokaz su kvaliteta, rada i istrajnosti.
    </span>
  </label>
  <label class="grid gap-3 mt-8">  
    <span class="text-m text-gray-700">Naš moto je "Sve na jednom mestu" i trudimo se da to i ostvarimo.
    </span>
  </label>

  <label class="grid gap-1 mt-8"> 
    <span class="text-m text-gray-700">Posetite nas ili nas kontaktirajte putem telefona ili email-a. Rado ćemo odgovoriti na sva vaša pitanja i pomoći vam u vezi sa našim uslugama.
    </span>
  </label>

</div>
</section>